name: terraform

on: push


jobs:
 

  tf_plan:    
    #uses: ambikaawari23/terraform_action/.github/workflows/terraform-plan.yml@main
    uses : MphasisPipelineFactory/shared-workflows/.github/workflows/terraform-plan.yml@main
    secrets: inherit
#     with:
#       action: Terraform Plan
#continueonerror: false

#   tf_apply:
#     needs: [tf_plan]
#     #uses: ambikaawari23/terraform_action/.github/workflows/terraform_action.yml@main
#     uses: MphasisPipelineFactory/shared-workflows/.github/workflows/terraform-apply.yml@main
#     secrets: inherit
#     with:
#       action: apply -auto-approve
